body {
    background-image: url('../images/fondo.jpg');
    background-position: center center;
    background-attachment: fixed;
    background-attachment: cover;
    background-color: #ffffff;
    background-repeat: no-repeat;
}

.nav-link {
    color: #ffffff !important;
}

.nav-link:hover {
    color: #0000ff !important;
    border-bottom: 6px solid #004581;
    padding-bottom: 2px;
}

.active {
    color: #000000;
    border-bottom: 6px solid #001b48 !important;
    padding-bottom: 2px;
}

#map { 
    width: 100%;
    height: 600px;
    box-shadow: 5px 5px 5px #888;
}

.estilo {
    border: 5px solid #1790A4;
    border-radius: 40px;
    min-height: 720px;
}

.txtInfo {
    font-weight: bold;
}

.elegirDatos {
    width: 100%;
    float: left;
    text-align: center;
    border-radius: 40px;
}
  
.elegirDatos ul li {
    border: 3px solid #63cdd7;
    padding: 5px;
    display: inline-block;
    list-style-type: none;
    text-align: left;
}

li.boton {
    margin: 10px;
    list-style-type: none;
}

li.boton:hover {
    background: #a0c5cf;
}

.divDatos {
    background-color: #dde8f0;
    border: 4px solid #97cbdc;
}

#btnMostrar{
    background-color: #63cdd7;
}