p {
    margin: 10px;
}

.txtInfo {
    font-weight: bold;
}

.elegirDatos {
    width: 100%;
    float: left;
    text-align: center;
    border: 2px solid red;
}
  
.elegirDatos ul li {
    margin: 15px;
    display: inline-block;
    list-style-type: none;
    text-align: left;
    border: 2px solid springgreen;
}

.datos {
    border: 2px solid #FF0DF4;
    visibility: visible;
}