.contenedor {
    text-align: center;
}

.divs {
    display: inline-block;
    margin: 10px;
    padding: 0px;

    background: #ffffff;
    border: 2px solid #59C8E4;
    border-radius: 25px;
    
    width: 45%;
    min-height: 500px;
}

iframe {
    margin: 25px;
    width: 95%;

    text-align: center;
    height: 610px;
    border: 0px;

    border: 4px solid pink;
    
}

#izq {
    float: left;
    margin-left: 30px;
}

#der {
    float: right;
    margin-right: 30px;
}

