.contenedor {
    text-align: center;
}

.divs {
    display: inline-block;
    margin: 10px;
    padding: 0px;

    background: #ffffff;
    border: 2px solid #59C8E4;
    border-radius: 25px;
    
    width: 45%;
    min-height: 500px;
}

iframe {
    margin: 20px;

    text-align: center;
    height: 630px;
    border: 0px;

    border: 4px solid pink;
    
}

#izq {
    float: left;
    margin-left: 50px;
}

#der {
    float: right;
    margin-right: 50px;
}


/* Responsive */
@media (max-width: 1300px) {
    
    .divs {
        margin: 5px;
    }
    
    iframe {
        margin: 10px;
        height: 600px;
    }
}

@media (max-width: 1100px) {
    
    * {
        background-color: tomato;
    }

    .divs {
        margin: 3px;
    }
    
    iframe {
        margin: 10px;
    }
}

@media (max-width: 1060px) {
    
    * {
        background-color: rgb(255, 71, 194);
    }
    
    iframe {
        margin: 8px;
    }

    #izq {
        float: left;
        margin-left: 50px;
    }
    
    #der {
        float:inline-end;
        margin-right: 50px;
    }
}