body {
    background-image: url('../images/fondo.jpg');
    background-position: center center;
    background-attachment: fixed;
    background-attachment: cover;
    background-color: #ffffff;
    background-repeat: no-repeat;
}

.nav-link {
    color: #ffffff !important;
}

.nav-link:hover {
    color: #0000ff !important;
    border-bottom: 6px solid #004581;
    padding-bottom: 2px;
}

.active {
    color: #000000;
    border-bottom: 6px solid #001b48;
    padding-bottom: 2px;
}

a {
    color: #ffffff !important;
}

a:link {
    text-decoration: none !important;
}

.login-form {
    box-shadow: 0 0 27px 0 #dde8f0;
}

#imgUsuario {
    margin-top: 50px;
}
  
.login-form-header {
    padding-top: 30px;
    padding-bottom: 10px;
}

.login-form-font-header {
    font-size: 30px; 
    font-weight: bold;
}
  
.login-form-font-header span {
    margin-top: 10px;
    color:  #018abd;
}
  
.login-from-row {
    padding-top: 10px;
    padding-bottom: 10px;
}

.login-from-boton {
    padding-top: 10px;
    padding-bottom: 30px;
}

.btn-color {
    background-color: coral !important;
}